.modal {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #0000004d;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 1s linear;
}

.modal.modal_is_opened {
  opacity: 1;
}

.itemModal__container {
  position: relative;
  max-width: 498px;
  max-height: 610px;
  background-color: #fff;
  border-radius: 16px;
}

.itemModal__close {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 27px;
  right: 24px;
  border: none;
  padding: 0;
  background-color: transparent;
}

.itemModal__close:hover {
  cursor: pointer;
}

.itemModal__close_img {
  width: 100%;
  height: 100%;
}

.itemModal__img {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.itemModal__bottom-containter {
  display: flex;
  justify-content: space-between;
}

.itemModal_description {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 32px 32px;
}

.itemModal__text {
  color: #000;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
}

.itemModal__delete {
  color: #ff4d00;
  width: 98px;
  height: 13px;
  margin-top: 24px;
  margin-right: 33px;
  padding: 0;
  background: none;
  font-weight: 700;
  font-style: bold;
  font-size: 16px;
  border: none;
}

.itemModal__delete:hover {
  cursor: pointer;
  color: #ff4d00b2;
}
